/* General Styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #141414;
  color: white;
}

.movie-heading {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  font-family: "roboto", sans-serif;
  text-align: center;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: black;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: red;
}

.nav-right button {
  margin-left: 10px;
  padding: 8px 16px;
  background: red;
  border: none;
  color: white;
  cursor: pointer;
}

/* Hero Section */
.hero {
  text-align: center;
  padding: 50px;
  background: url("background.jpg") no-repeat center center/cover;
}

.hero-content h1 {
  font-size: 48px;
  font-weight: bold;
}

.hero-content p {
  font-size: 20px;
}

.email-form {
  margin-top: 20px;
}

.email-form input {
  padding: 10px;
  width: 300px;
}

.email-form button {
  padding: 10px 20px;
  background: red;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

/* Trending Section */
.trending {
  padding: 40px;
}

.trending h2 {
  font-size: 24px;
}

.trending-list {
  display: flex;
  /* overflow-x: scroll; */
  gap: 10px;
}

.movie img {
  width: 200px;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
}

/* FAQ Section */
.faq {
  padding: 40px;
  background: #222;
}

.faq h2 {
  font-size: 24px;
}

.faq-item {
  background: #333;
  padding: 15px;
  margin: 5px 0;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

.plus {
  font-size: 24px;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  background: black;
}

.footer-links a {
  color: gray;
  margin: 10px;
  text-decoration: none;
}
